@model Activity_3.Models.Customer

<h3>Customer Details</h3>
@Html.DisplayNameFor(m => Model.Name): @Html.DisplayFor(m => Model.Name)
<br />
@Html.DisplayNameFor(m => Model.Age): @Html.DisplayFor(m => Model.Age)
<br />
@Html.DisplayNameFor(m => Model.PhoneNumber): @Html.DisplayFor(m => Model.PhoneNumber)
<br />
@Html.DisplayNameFor(m => Model.Email): @Html.DisplayFor(m => Model.Email)
<br />
<p>Updated at @DateTime.Now</p>